{% extends 'base.html' %}

{% block head %}
<title>Login</title > 	
{% endblock %}

{% block body %}
<div class="container">
	<h1>Welcome</h1>
	<h2>Login to continue!</h2>
	<p class="input-label">EMAIL</p>
	<input id='email' type='text'/>
	<span id='error-email' class='error'></span>
	<p class="input-label">PASSWORD</p>
	<input id='password' type='password'/>
	<span id='error-password' class='error'></span>
	<br>
	<span id='error-account' class='error'></span>
	<button id='login' type='button'>LOGIN</button>
	<p>Don't have an account? <a href='./register'>Register here.</a></p>
</div>
{% endblock %}

{% block script %}
 <script src="{{ url_for('static', filename='js/login.js')}}"></script>
 {% endblock %}